@tailwind base;
@tailwind components;
@tailwind utilities;

:root{background-color: #111827 ;}

body
{
    margin: 0;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

input, button{font-family: "Abel", sans-serif;}

.h-img{height: 300px}

#movies img
{
    transition: 0.5s;
    width: 231px;
}
#movies img:hover
{
    height: 284px;
    width: 215px;
}

input{width: calc(100% - 232px)}